.btn {
  padding: 0rem 1.2rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  text-align: center;
  height: 42px;
}

.btn:hover {
  background-color: var(--color-bg-dark);
}

.primary {
  background-color: var(--color-bg-variant);
  color: var(--color-white);
  border-color: var(--color-primary-variant);
}

.secondary {
  background-color: var(--color-bg);
  border-color: var(--color-primary-variant);
  color: var(--color-white);
}

.tertiary {
  background-color: unset;
  border-color: var(--color-primary);
  color: var(--color-primary);
}

.disabled {
  border: 1px solid #777c81;
  background-color: unset;
  color: #777c81;
  cursor: default;
}

.disabled:hover {
  background-color: #777c81;
  color: #fff;
}

.fill {
  flex: 1;
}
