.nav {
  background-color: var(--color-bg-dark);
  width: max-content;
  display: flex;
  padding: 0.4rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0.5rem;
  border: 1px solid var(--color-primary-variant);
}

.scrollspy {
  display: flex;
  gap: 0.8rem;
}

.navItem {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navItem svg {
  z-index: 100;
}

.menuVisible {
  bottom: 0.5rem;
  transition: all 0.5s;
}

.menuInvisible {
  bottom: -4rem;
  transition: all 0.5s;
}

.nav a {
  background-color: transparent;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  color: var(--color-light);
  font-size: 0.8rem;
}

.nav a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav .active {
  background-color: var(--color-primary) !important;
  color: var(--color-bg) !important;
}
