.content p {
  margin: 2rem 0 2rem;
  color: var(--color-light);
}

.cards {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  padding: 2rem 0rem;
  justify-items: center;
  align-items: center;
}

.aboutMe {
  padding: 0rem;
  width: 50%;
}

.aboutMe span {
  color: var(--color-primary);
  font-weight: 600;
  text-decoration: underline var(--color-primary) 2px;
}

.aosWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-bg-variant);
  border: 1px solid #2f3563;
  border-radius: 0.5rem;
  padding: 2rem;
  text-align: center;
  transition: var(--transition);
  min-width: 300px;
}

.card p {
  margin: 0;
}

.card:hover {
  background-color: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.expIcon {
  color: var(--color-white);
  font-size: 1.4rem;
}

.buttonGroup {
  display: flex;
  gap: 1.2rem;
  flex-wrap: wrap;
  white-space: nowrap;
  margin: 1rem 0;
}

.card h5 {
  font-size: 0.95rem;
}

.card svg {
  font-size: 1.5rem;
  color: var(--color-primary);
}

.technicalSkills {
  margin-bottom: 2rem;
}

.separator {
  margin: 1rem 0;
  height: 1px;
  width: 80%;
  background-color: var(--color-primary-variant);
}

/* ========== MEDIA QUERIES (Medium Devices) ========== */

@media screen and (max-width: 1024px) {
  .content p {
    margin: 1rem 0 1.5rem;
  }

  .cards {
    grid-template-columns: 1fr;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .buttonGroup {
    justify-content: center;
  }
}

/* ========== MEDIA QUERIES (Small Devices) ========== */

@media screen and (max-width: 600px) {
  .aboutMe {
    padding: 0;
  }

  .cards {
    width: 100%;
  }

  .content {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .content p {
    margin: 1.5rem 0;
  }
}

@media screen and (max-width: 360px) {
  .card {
    width: 100%;
  }
}
