.skillsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.75rem;
}

.tech {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-bg-variant);
  border: 1px solid var(--color-primary-variant);
  border-radius: 0.5rem;
  padding: 0.7rem;
  transition: var(--transition);
  position: relative;
}

.tech:hover {
  background-color: #131321;
  border-color: var(--color-primary-variant);
}

.iconWrapper {
  background-color: #2b2b2b;
  border-radius: 0.5rem;
}

.iconContainer {
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.icon {
  width: 2rem;
  height: 2rem;
  z-index: 100;
}

.techName p {
  font-size: 0.8rem;
  color: var(--color-light);
  white-space: nowrap;
}

@media screen and (max-width: 1450px) {
  .skillsContainer {
    grid-template-columns: repeat(3, minmax(230px, 1fr));
  }

  .aosWrapper:nth-child(3n + 1) {
    transition-delay: 0ms !important;
  }

  .aosWrapper:nth-child(3n + 2) {
    transition-delay: 50ms !important;
  }

  .aosWrapper:nth-child(3n + 3) {
    transition-delay: 100ms !important;
  }
}

@media screen and (max-width: 860px) {
  .skillsContainer {
    grid-template-columns: repeat(2, minmax(230px, 1fr));
  }

  .aosWrapper:nth-child(2n + 1) {
    transition-delay: 0ms !important;
  }

  .aosWrapper:nth-child(2n + 2) {
    transition-delay: 50ms !important;
  }
}

@media screen and (max-width: 560px) {
  .skillsContainer {
    grid-template-columns: 1fr;
  }

  .aosWrapper:nth-child(1n + 1) {
    transition-delay: 0ms !important;
  }
}
