.landingPage {
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.landingPageContainer {
  text-align: center;
}

.landingPageContainer h5 {
  font-size: 1rem;
}

.subTitle {
  color: var(--color-primary);
}

/* ========== MEDIA QUERIES - Height (Small Devices) ========== */

@media screen and (max-height: 390px) {
  .landingPage {
    align-items: flex-start;
    padding-top: 3rem;
  }
}
